<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Giỏ hàng</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='../css/style.css'>
    <script src='../js/index.js'></script>
    <script src="https://kit.fontawesome.com/47be3b846d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="left_area">
            <a href="home.html">FoodOrder</a>
        </div>
        <div class="right_area">
            <div class="item">
                <i class="fa-solid fa-basket-shopping" onclick=""></i>
            </div>
            <div class="item">
                <a href="manage.html">Manage</a>
            </div>
        </div>
    </header>
    <div class="content">

    </div>
</body>
</html>