<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Giỏ hàng</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='../css/style.css'>
    <link rel='stylesheet' href='../css/toast.css'>
    <script src="https://kit.fontawesome.com/47be3b846d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="left_area">
            <a href="home.html">FoodOrder</a>
        </div>
        <div class="right_area">
            <div class="item">
                <a href="cartUI.html">
                    <i class="fa-solid fa-basket-shopping" onclick=""></i>
                    <div class="dish-num">
                        <span class="num">0</span>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="manage.html">Manage</a>
            </div>
        </div>
    </header>
    <div id="snackbar" class="error">Bạn chưa có sản phẩm nào.</div>
    <div class="shopping-cart">
        <div class="title">Giỏ hàng</div> 
        <span class="nodish-message"></span>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <td style="text-align:left">Tên món</td>
                        <td>Đơn giá</td>
                        <td>Số lượng</td>
                        <td style="text-align:right">Tổng</td>
                        <td>Xóa</td>
                    </tr>
                </thead>
                <tbody id="cart-list">
                </tbody>
            </table>
        </div>
        <div class="btn-container">
            <button type="button" onclick="goToPay()" class="payBtn">Thanh toán</button>
        </div>
    </div>
    <script src='../js/cart.js'></script>
</body>
</html>