<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='../css/style.css'>
    <script src="https://kit.fontawesome.com/47be3b846d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="left_area">
            <a href="home.html">FoodOrder</a>
        </div>
        <div class="right_area">
            <div class="item">
                <a href="cartUI.html">
                    <i class="fa-solid fa-basket-shopping" onclick=""></i>
                </a>
            </div>
            <div class="item">
                <a href="manage.html">Manage</a>
            </div>
        </div>
    </header>

    <div class="content">
        <div class="title">
            Món ăn 
        </div>
        <div class="card-container">
        </div>
    </div>
    <script src='../js/index.js'></script>
</body>
</html>